body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f2f2f2;
  max-width: 100vw;
  overflow-x: hidden;
}

.cabecera,
.pie-de-pagina {
  background-color: #333333;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  gap: 0.5rem;
  padding: 0 1.5rem;
  width: 100%;
  position: sticky;

  a {
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      transition: all 1s;
      background-color: #535353;
      position: absolute;
      transform: scale(0);
      width: 100%;
      height: 50%;
      z-index: -1;
    }

    &::before {
      transform-origin: left;
      top: 0;
      left: 0;
    }
    &::after {
      transform-origin: right;
      bottom: 0;
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      transform: scale(1);
    }
  }
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    width: 70vh;
  }
}

.cabecera {
  top: 0;
}

.pie-de-pagina {
  bottom: 0;

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 3.5rem;
      height: 3.5rem;
      z-index: 2;
    }
    input {
      position: relative;
      border-radius: 25px;
      left: -15px;
      width: 0%;
      height: 1.5rem;
      text-align: center;
      z-index: 1;
      transition: all 0.75s ease-in-out;
    }
    &:hover {
      input {
        width: 100%;
      }
    }
  }
}

.noticias {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .titulo {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem;
  }
  .descripcion {
    margin: 1rem;
  }
  .noticia-destacada {
    background-color: #ffffff;
    width: 100%;
    .imagen {
      height: 600px;
    }
    .titulo {
      font-size: 2rem;
    }
    .descripcion {
      font-size: 1.3rem;
    }
    box-shadow: 0 0 20px 1px grey;
  }

  .noticia {
    width: clamp(300px, 20%, 100%);
    flex-grow: 1;
    background-color: #ffffff;
    box-shadow: 0 0 20px 1px grey;
  }
}
